<html>
    <head>
        {{>header}}
    </head>
    <body class="container bg-dark">
        {{>websiteHeading}}
       
        {{>introIndexContent}}
        {{>classNcourses}}

    </body>
</html>