<div class="card-header mb-2 bg-warning ">                            
    
    <div class="row  rounded d-flex justify-content-between">            
        <div class="col text-left align-content-center">                
            <h2 class="fw-bold text-capitalize">Admin Control Panel</h2>
        </div>
        <div class="col text-right align-content-center">
            <h4 class="font-weight-bold">Administrator: <span class="text-uppercase d-inline">{{admin.username}}</span></h4>
        </div>
                
    </div>               
</div>