<html>
    <header>
        {{>header}}
    </header>
    <body class="container bg-dark" >
    <div class="card mt-1 p-2 bg-info">
        {{>websiteHeading}}
    
        {{#success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
        {{/success_msg}}
        
        {{#error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
        {{/error_msg}}
    
            <div class="card-body bg-warning mt-2 rounded align-content-center">
                <div class="card-title mb-0 text-center align-content-center">
                    <h2 class="m-0 text-capitalize">Dance Classes Available</h2>
                </div>
            </div>
        </div>
        {{#classDetails}}
            
    <section class="container bg-info rounded ">                            
        <div class="card-body mt-2 mb-2 mx-2 pt-0b g-info ">
            <div class="card-text p-2 border border-dark rounded">
                    
                 

                <div class="row">
                    <div class="card-header d-flex rounded w-100 mx-3 my-2 bg-warning">                            
                        <div class="col">
                            <div class="card-text  mb-0 rounded">                   
                                <h4 class="inline m-0 text-capitalize">{{class_title}}</h4>
                            </div>
                        </div>
                        <div class="col text-right">                                
                            <h4>Cost: £{{cost}}</h4>                                
                        </div>
                    </div>
                </div>
                    
        
    
                
                                        
                    <div class="row "> 
                        <div class="card-text d-flex w-100">                           
                            <div class="col">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="location">Course Location:</label>
                                    <div class="form-text bg-light m-0 rounded">
                                        <label class="m-1 p-1">{{location}}</label>
                                    </div>                                                                    
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="courseStartDate">Start Date:</label>
                                    <div class="form-text bg-light m-0 rounded">
                                        <label class="m-1 p-1">{{start_date}}</label>
                                    </div>                                
                                </div>
                            </div>

                            <div class="col text-center">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="classDuration">Class Duration:</label>
                                    <div class="form-text bg-light m-0 rounded">
                                        <label class="m-1 p-1">{{duration}} hrs/class</label>
                                    </div>                                    
                                </div>
                            </div>
                            
                            <div class="col text-center">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="classStartTime">class Start Time:</label>
                                    <div class="form-text bg-light m-0 rounded">
                                    <label class="m-1 p-1">{{start_time}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body justify-content-center">
                        <div class="row"> 
                                                  
                                <div class="col-md-6">                                                            
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="description">Class Description</label>
                                        <textarea  type="text"
                                                class="form-control"
                                                id="description"
                                                name="description"                                                                                
                                                rows="4"
                                                readonly>{{description}}
                                        </textarea>
                                    </div>
                                </div>                                                                                       
                            
                                <div class="col-md-6">
                                    <div class="row h-100">
                                        
                                        <div class="col-md-6">                                            
                                                <label class="font-weight-bold" for="cost">Dancers Attending:</label>
                                                <div class="form-text text-right bg-light m-0 rounded">
                                                    <label class="m-1 p-1">{{totalCount}}</label>
                                                </div>                                                                                                                                                    
                                        </div>
                                        <div class="col-md-6 d-flex flex-column">
                                            <div class="form-group mt-auto mb-0 text-right">                                        
                                                <form action="auth/bookClass/{{_id}}" method="POST">
                                                    <button type=submit class="btn btn-primary text-end">Book Course</button>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                                    
                        
                            </div> 
                        </div>                                                                            
                    </div>                                                        
                    
                </div>
            </div>
        </div>

    </section>
                
                
            </div>
        </div>
        {{/classDetails}}

        {{^classDetails}}
        <section class="container bg-info rounded ">                            
        <div class="card-body mb-2 bg-info rounded" >
            <div class="card-header rounded bg-warning ">                                                                                
                <h4 class="fw-bold text-capitalize">Sorry no classes available yet.</h4>            
                <div class="card-body shadow bg-light rounded">
                    <p>dance classes will be available soon.</p>
                </div>                                                   
                </div>
            </section>
        {{/classDetails}}
    </div>
    </body>
</html>