<div class="row">
            <div class="col">
                
                    <div class="card shadow m-2">
                                    
                        <div class="card-header bg-warning font-weight-bold text-center">
                            View Classes
                        </div>

                        <div class="card-body text-center">
                            <div class="card-text">
                                <p>Discover a wide range of different dance classes of different levels
                                to suit you.</p>
                                <a id="allClasses" href="/show_all_classes" class="btn btn-primary">View All classes</a>
                            </div>
                        </div>
                                
                    </div>
                
            </div>

            <div class="col">
                
                    <div class="card shadow m-2">
                        <div class="card-header bg-warning text-center">
                            <p class="card-title font-weight-bold m-0">View Courses</p>
                        </div>
                        <div class="card-body text-center">
                            <div class="card-text">
                                <p>Discover a wide range of different dance courses of different levels
                                and length to suit you.</p>
                                <a id="allCourses" href="/show_all_courses" class="btn btn-primary">View All Courses</a>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    