<html>
    <head>
        {{>header}}
    </head>
    <body class="container bg-dark">
        <div class="card mt-1 p-2 bg-info">
        <!--start of website heading-->
                {{>websiteHeading}}   
         
        <!--end of website heading-->
        
        <!--start of main content-->
                {{>introIndexContent}}
        
                {{>classNcourses}}
        <!--end of main content-->
        </div>
        

    </body>
</html>