<html>
    <head>
        {{>header}}
    </head>
    <body class="container bg-dark">
        {{>websiteHeading}}
        
        {{>instructor/classDetailsParticipationHeader}}
        {{>instructor/participantList}}

        
        </div>
    </body>
</html>