
<div class="card-header rounded-top bg-warning">
    <!-- start of header row -->                            
    <div class="row">
        <div class="card-title border border-dark border-top-0 border-left-0 border-right-0 d-flex justify-content-around w-100">
        
            <div class="col">
                <div class="card-text text-center mt-auto">                
                    <h3 class=" mb-0 fw-bold text-capitalize">{{course_title}}</h3>
                </div>
            </div>
    
        </div>
    </div><!-- end header row -->