<!-- start row stats -->
    <div class="row">
        <div class="card-body d-flex justify-content-center p-2">
            <div class="col-4">
                <div class="card-text mx-5 py-2 bg-info rounded text-center">
                    <P class="m-1 font-weight-bold">Registered users count:<span class="font-weight-normal"> {{userCount}}</span></P>
                </div>
            </div>
            <div class="col-4">
                <div class="card-text mx-5 py-2 bg-info rounded text-center">
                    <p class="m-1 font-weight-bold">Guest users count:<span class="font-weight-normal"> {{guestCount}}</span></p>
                </div>
            </div>
            <div class="col-4">
                <div class="card-text mx-5 py-2 bg-info rounded text-center">
                    <p class="m-1 font-weight-bold">Total Participants:<span class="font-weight-normal"> {{totalCount}}</span></p>
                </div>
            </div>
        </div>
    </div>
<!-- end row stats -->
</div>